<head>
    <meta charset="UTF-8">
    <title>
        {{site.title}}{% if page.title %} -{{ page.title}}{% endif %}
    </title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{'/common/css/style.css' | relative_url}}">
    {% for css in page.css %}
		<link rel="stylesheet" type="text/css" href="/common/css/{{ css | relative_url }}">
    {% endfor %}
</head>